version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: tienda_postgres
    environment:
      POSTGRES_DB: TiendaDb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: tienda_redis
    ports:
      - "6379:6379" 

volumes:
  postgres_data: